* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 
    
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.article-content {
    margin: 100px;
    display: flex;
    flex-direction: column;
    flex-shrink: calc(2);

}

.article-content h2 {
    padding: 5px;
}

.p-content {
    
    margin: 20px;
}

 p {
    font-size: 17px;
    line-height: 2;
   
}

.driving-school-img {
    height: 300px;
    width: 400px;
    background-image: url("Driving-school-images/doha-driving-academic.JPG");
    background-size: cover;
}

.karwa-driving-school-img {
    height: 300px;
    width: 400px;
    background-image: url("Driving-school-images/karwa-driving.jpg");
    background-size: cover;
}

.alkhebra-academy {
    height: 300px;
    width: 400px;
    background-image: url("Driving-school-images/alkhebra-academy.jpg");
    background-size: cover;
}
.alijarah-driving-img {
    height: 300px;
    width: 400px;
    background-image: url("Driving-school-images/alijarah-academy.jpg");
    background-size: cover;
}

.dallah-academy {
    height: 300px;
    width: 400px;
    background-image: url("Driving-school-images/dallah-academy.jpg");
    background-size: cover;
    
}
.video1 {
    padding: 20px;
}

.table-content {
    height: 20px;
    width: 700px;
    
    padding: 20px;
}

 li {
    line-height: 2;
}
