* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


nav {
    height: 70px;
    background-color: #006989;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;

}

.logo {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 100px;
    
}

.nav-right {
    font-size: 1.2rem;
    margin-right: 100px;

}

.logo >a{
    color: whitesmoke;
}

.nav-right >a {
    color: whitesmoke;

    padding: 10px;
}

.nav-right a:hover {
    background-color: #01A7C2;
    color: whitesmoke;
    border-bottom: 1px solid black;
   
    
   
}

 /* style for do you know about qatar */

.about-qatar-text {
    margin: 100px;
}

.about-qatar-text p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.abt-qatar {
    margin-top: 16px;
}

.about-qatar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
    
}

.qatar-image {
    background-image: url("images/qatar.jpeg");
    background-size: cover;
    height: 400px;
    width: 400px;
    border-radius: 3rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    
  }
  
  th, tr, td  {
    text-align: left;
    padding: 10px;
    
  }
  
  tr:nth-child(even) {background-color: #f0e3e3;

}

/* top article style */




.articles-container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    
    
    
}

.article-thumbnail {
    background-color: #01A7C2;
    height: 400px;
    width: 400px;
    border-radius: 2rem;
    border: none;
    margin: auto;
  
    
}
.article-thumbnail img {
    background-image: url("images/driving-license.png");
    background-size: cover;
    height: 300px;
    width: 400px;
    border-radius: 2rem;
}

.top-article-title {
    padding: 15px;
}

.top-article-title h2 {
    color: black;

}

.title-bar {
    border-top: 2px solid #01A7C2;
    border-bottom: 2px solid #01A7C2;
    text-align: center;
    margin: 100px;
    padding: 10px;
   

}

.youtube-video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
   
}


/* collapsible style */

.collapsible-contiainer {
    margin: 100px;
}
.collapsible-box {
    width: 100%;
    
    
    
    
    
}
.collapsible-box-title >p{
    background-color: #006989;
    padding: 15px;
    color: white;
    border-radius: 3px;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    box-shadow: 3px 0px 3px 3px #01A7C2;
    
    
}
.collapsible-box-title p::before{
    content: "+";
    font-weight: 800;
    
    color: white;
    position: absolute;
    right: 2rem;
    margin-bottom: 10px;
}
.collapsible-box.active .collapsible-box-title p::before {
    content: "-";
    font-weight: 800;
    padding-bottom: 15px;
    color: white;
    position: absolute;
    right: 2rem;
    
}

.collapsible-box-title p:hover{
    background-color: #01A7C2;
}



.collapsible-box-text {
    background-color: white;
    border-radius: 3px;
    margin-top: 5px;
    height: 0;
    overflow: hidden;
    transition: all .6s;
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
   
  
}

.collapsible-box.active .collapsible-box-text {
    height: auto;
    padding: 15px;
}


.famous-place-img img{
   
   background-size: cover; 
    height: 300px;
    width: 400px;
    border-radius: 2rem;

}




 /* footer style */

footer {
    height: 70px;
    width: 100%;
    background-color:#006989;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0px;
    position: fixed;
}

.footer-links >a {
    color: whitesmoke;
    font-size: 1.2rem;
    margin: 10px;
    padding: 10px;
    
}

.footer-links >a:hover {
    background-color: #01A7C2;
    color: black;
    border-bottom: 1px solid black;
 
}


.web-rights {
    color: whitesmoke;
    margin-right: 20px;
    
}

/* nav sidebar style */

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    box-shadow: -10px 0 10px rgba(0,0,0,0.2);
    display: none;
    flex-direction: column;
    background-color:   rgba(138, 184, 200, 0.8);
   

    

}

.sidebar a {
    width: 100%;
    padding: 10px;
    color: white;
}

.sidebar a:hover {
    background-color: #01A7C2;
    color: whitesmoke;
    border-bottom: 1px solid black;
}

/* media query */



.menu-button {
    display: none;
    color: whitesmoke;
}

@media  (max-width:1080px) {

    .hideOnMobile  {
        display: none;
    }
    
    .menu-button {
        display: block;
    }
}

@media (max-width:400px) {
    .sidebar {
        width: 100%;
    }
}

@media(max-width:750px) {
    .footer-links a {
        font-size: .8rem;
    }
    .web-rights {
        font-size: .8rem;
    }
}